.header {
  background-color: var(--primary);
  color: white;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.title {
  margin-left: 0.25rem;
}

.link {
  margin: 0 1rem;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu > a {
  display: block;
  width: 1.75rem;
  height: 1rem;
  right: 1rem;
  top: 1.3rem;
  position: absolute;
}

.menu > a::after,
.menu > a::before {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  background: white;
  left: 0;
  right: 0;
  transition: all ease-out 0.3s;
}

.menu > a::after {
  top: 100%;
}

.menu > a > i {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  height: 2px;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 50%;
  transition: all ease-out 0.1s;
}

.menu > a.expanded::after {
  transform: rotate(-45deg);
  transform-origin: center;
  top: 50%;
}

.menu > a.expanded::before {
  transform: rotate(45deg);
  transform-origin: center;
  top: 50%;
}

.menu > a.expanded > i {
  opacity: 0;
}

@media all and (max-width: 768px) {
  .menu {
    display: block;
  }

  .title,
  .links {
    display: none;
  }

  .link {
    margin-left: 0.5rem;
  }

  .links.expandedLinks {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}
