.img {
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}

.about1,
.about2 {
  margin: 0 1rem;
}

@media all and (max-width: 900px) {
  .img {
    max-width: 100%;
    height: auto;
  }
}

@media all and (min-width: 901px) {
  .img {
    display: inline-block;
    margin: 0;
    margin-left: 1rem;
  }

  .about1 {
    display: flex;
    margin-top: 3rem;
    position: relative;
  }

  .about1 section {
    padding-right: 6rem;
    padding-bottom: 40rem;
    max-width: 750px;
  }

  .about1 .img {
    position: relative;
    top: -2.5rem;
    left: -6rem;
  }

  .about2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-top: -44rem;
  }

  .about2 section {
    max-width: 750px;
    padding-left: 6rem;
  }

  .about2 .img {
    position: relative;
    left: 3rem;
  }
}
