.section {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  line-height: 0;
  position: relative;
}

.imageWrapper > img {
  position: relative !important;
  object-fit: contain;
}

.descriptionImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.descriptionImageWrapper > img {
  margin-bottom: 1rem;
}

.secondary {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
}

.col2 {
  width: 100%;
}

.imageDescription {
  border-radius: 50px;
}

@media all and (min-width: 901px) {
  .section {
    flex-direction: row;
  }

  .col2 {
    width: 50%;
  }

  .secondary {
    padding: 1rem;
  }
}
