.section {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  align-items: center;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.imageWrapper {
  line-height: 0;
  position: relative;
}

.imageWrapper > img {
  position: relative !important;
  object-fit: contain;
}

.descriptionImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.descriptionImageWrapper > img {
  margin-bottom: 1rem;
}

.secondary {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
}

.col2 {
  width: 100%;
}

.imageDescription {
  border-radius: 50px;
}

.program {
  max-width: 400px;
}

.endorsements {
  align-items: center;
}

.endorsements > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact > div {
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
}

@media all and (min-width: 901px) {
  .section {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .col2 {
    width: 50%;
  }

  .secondary {
    padding: 1rem;
  }
}
