.introduction {
  display: flex;
  flex-direction: column;
}

.secondary {
  background-color: var(--secondary);
}

/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
} */

@media all and (min-width: 901px) {
  .introduction {
    flex-direction: row;
  }

  .introduction > div {
    width: 50%;
  }
}
