.introduction {
  display: flex;
  flex-direction: column;
}

.introduction > div:first-child {
  line-height: 0;
}

.secondary {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
}

@media all and (min-width: 901px) {
  .introduction {
    flex-direction: row;
  }

  .introduction > div {
    width: 50%;
  }

  .secondary {
    padding: 1rem;
  }
}
