.button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  font-weight: bold;
}

.primary {
  background-color: var(--primary);
  color: #fff;
  transition: background-color 0.2s;
}

.primary:focus-within,
.primary:hover {
  background-color: var(--primary-dark);
}

.secondary {
  background-color: var(--secondary);
  color: #fff;
  transition: background-color 0.2s;
}

.secondary:focus-within,
.secondary:hover {
  background-color: var(--secondary-dark);
}

.tertiary {
  background-color: var(--tertiary);
  color: #000;
  transition: background-color 0.2s;
}

.tertiary:focus-within,
.tertiary:hover {
  background-color: var(--tertiary-dark);
}